<header>
  <h1 id="title" lang="{lang}">{title}</h1>
  <div id="header-buttons">{headerButtons}</div>
</header>
<hr class="hidden" />
<noscript>{noscript}</noscript>
<div class="hidden">{nostyle}</div>
<div id="error-msg"> </div>
<div id="main" role="main">{main}</div>
<hr class="hidden" />
<footer>
  <span>{copyright}</span>
  <nav>
    <ul>
      <li><a id="about" href="about.html" title="{about}" target="_blank">{about}</a></li>
      <li><a id="condition" href="condition.html" title="{condition}" target="_blank">{condition}</a></li>
      <li><a id="help" href="help.html" title="{help}" target="_blank">{help}</a></li>
    </ul>
  </nav>
</footer>
<hr class="hidden" />
<div id="contextMenu" class="hidden"> </div>
<hr class="hidden" />
<div id="dialog" class="hidden">
  <div id="dialog-content">
    <div> </div>
  </div>
</div>
