<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="###lang###" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="###charset###">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>###title###</title>
  <meta name="description" content="###description###">
  <meta name="author" content="###author###">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  ###meta###
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  ###stylesheet###
  ###head_script###

</head>

<body class="###class###">
  ###body###
  ###body_script###
</body>
</html>
