/* font */

body {
  font-size: 12px;
}

hr {
  clear: both;
}

a {
  text-decoration: none;
}

a:hover, .main > .icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

h2, h3 > a {
  white-space: nowrap;
}

#title {
  font-size: 15px;
  padding-top: 2px;
  text-shadow: 0px 0px 5px rgba(0,88,88,.7);
}

nav > menu > li.selected {
  font-weight: bold;
}

nav h2 {
  font-size: 1.2em;
}

nav h3 {
  font-size: 1.1em;
}

#login input[type=text], #login input[type=password] {
  font-size: 1.5em;
}

/* icon */
@font-face {
  font-family: "IconicStroke";
  src: url("../../external/style/iconic/iconic_stroke.eot");
  src: local("IconicStroke"),
    url("../../external/style/iconic/iconic_stroke.svg#iconic") format("svg"),
    url("../../external/style/iconic/iconic_stroke.otf") format("opentype");
}

.iconic,
#displaySetting:before,
#logout:before,
#currentUser:before,
.setFilter,
.edit,
.delete,
.close,
.add:before,
.refresh:before,
.sorted_asc a:after,
.sorted_desc a:after,
.toggleExpand:before,
.picklist .remove:before {
  font-family: "IconicStroke";
  /*font-size: 1.2em;*/
}

#currentUser:before {
  content: "u";
}

.setFilter:before {
  content: "f";
}

.edit:before {
  content: "p";
}

.edit {
 content: "";
}

.delete:before {
  content: "t";
}

#logout:before, .close:before, .picklist .remove:before {
  content: "x";
}

#displaySetting:before {
  content: "w";
}

.add:before {
  content: "+";
}

.refresh:before {
  content: "[";
}

.collapsed > .main > .toggleExpand:before {
  content: "+";
}

.expanded > .main > .toggleExpand:before {
  content: "-";
}

#toolList-pages a {
  background: url(../image/page.svg) no-repeat center center;
}

#toolList-templates a {
  background: url(../image/template.svg) no-repeat center center;
}

#toolList-articles a {
  background: url(../image/article.svg) no-repeat center center;
}

#toolList-files a {
  background: url(../image/folder.svg) no-repeat center center;
}

#toolList-editors a {
  background: url(../image/editor.svg) no-repeat center center;
}

#toolList-visitors a {
  background: url(../image/visitor.svg) no-repeat center center;
}

#details > * > h2, .list-container .icon {
  background-repeat: no-repeat;
}

#details > * > h2, .list-container.table .main, .list-container.compact .main {
  background-position: left center;
}

.gallery .icon {
  background-position: center center;
  background-size: 48px;
}

.list-container .editor > .icon, #details .editor h2 {
  background-image: url(../image/editor.svg);
}

.list-container .groupEditor > .icon, #details .groupEditor h2 {
  background-image: url(../image/groupEditor.svg);
}

.list-container .folder > .icon, #details .folder h2 {
  background-image: url(../image/folder.svg);
}

.list-container .file > .icon, #details .file h2 {
  background-image: url(../image/file.svg);
}

.empty {
  background: url(../image/roller.gif) no-repeat center center;
}

.sorted_asc a:after {
  content: "5";
  margin: 5px;
}

.sorted_desc a:after {
  content: "3";
  margin: 5px;
}

/* color */
html, legend, .dock, .dock li span, .tabs, .accordion, .header > .cell {
  background-color:#F5F5F5;
}

#dialog-content > * > h2, #details > * > h2 {
  background-color: #aaa;
}

#main, #details > *, #dialog-content > *, .dock {
  background-color: #E9F1F4;
}

.table .row:nth-child(odd) {
  background-color:#f5f5f5;
}

noscript, #error-msg, .alertMsg, .formMsg {
  color: #800;
}

input, select {
  color: #000;
  background-color: #fff;
}

input[type=text]:hover,
input[type=password]:hover,
select:hover,
.row:hover > .cell,
.dock li:hover,
#contextMenu > menu > li:hover,
.checkbox:hover,
.checklist li:hover,
.picklist li:hover {
  background-color: #ff9;
}

input[type=submit], button {
  color: #fff;
  background-color: #607890;
}

.tabs > menu > li {
  background-color: #607890;
}

nav > menu > li:not(.selected) > a {
  color: #fff;
}

input[type=submit]:hover, button:hover, .tabs > menu > li:hover {
  background-color: #036;
  /*text-shadow: 0px 0px 5px rgba(255,255,255,0.6);*/
}

input[type=submit]:active, button:active, .tabs > menu > li:active {
  background-color: #036;
  text-shadow: 0px 0px 3px rgba(255,255,255,1);
}

.tabs > menu > li.selected, #contextMenu > menu, fieldset {
  background-color: #fff;
}

#dialog {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

#dialog-content {
  background-color: transparent;
}

.list-container .row.selected, .picklist li {
  background-color: #fc9;
} 

/* border */
header {
  border-bottom: #F5F5F5 solid 1px;
}

footer {
  border-top: #F5F5F5 solid 1px;
}

fieldset, legend, input[type=submit], button, #dialog-content > *, #details > * {
  border: 1px solid #aaa;
  border-radius: 4px;
}

.picklist li {
  border: 1px solid #fc9;
  border-radius: 4px;
}

input, select, .header > .cell, #contextMenu > menu {
  border: 1px solid #aaa;
}

#toolList {
  border-right: 1px solid #aaa;
}

input[type=text], input[type=password], select {
  box-shadow: inset rgba(0,0,0,.2) 2px 2px 2px;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  border-color: #008;
  box-shadow: inset rgba(0,0,88,.5) 2px 2px 2px;
}

input[type=submit], button, .dock li span, #contextMenu > menu {
  box-shadow: inset rgba(0,0,0,.2) -2px -2px 2px;
}

input[type=submit]:active, button:active {
  box-shadow: inset rgba(0,0,0,.2) 2px 2px 2px;
}

.gallery .row, .compact .row, .tree .row, .dock li {
  border-radius: 4px;
}

.invalid {
  background-color: rgba(88,0,0,.05);
}

.changed:invalid, .field.invalid input {
  border-color: #800;
  box-shadow: inset rgba(88,0,0,.2) 2px 2px 2px;
}

.field:not(.invalid) .changed:valid {
  border-color: #080;
  box-shadow: inset rgba(0,88,0,.2) 2px 2px 2px;
}

.tabs > menu > li {
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#main {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

#dialog-content > * > h2 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tree .row {
  border: 1px dashed transparent;
}

.tree .expanded {
  border-color: #aaa;
}

/* padding and margin */
noscript,
button,
fieldset,
legend,
select,
h2,
h3,
input[type=text],
input[type=password],
input[type=submit],
menu > li,
#error-msg,
.cell,
.checklist li,
.checklist li > *,
.picklist li,
.picklist li > *
 {
  padding: 2px;
}

noscript,
button,
fieldset,
legend,
input[type=submit],
menu > li,
#error-msg,
#details > *,
.field,
.cell,
.checklist li,
.picklist li {
  margin: 2px;
}

#login, #dialog-content > * {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.dock li:hover a {
  margin: 5px
}

.row > .row {
  margin-left: 20px;
}

.editor > h2, .groupEditor > h2, .folder > h2 {
  padding-left: 20px;
  margin-right: 20px;
}

hr, .picklist {
  margin: 0;
}

/* size and position */
html {
  overflow-y: visible;
}

body {
  height: 100%;
}

header, footer {
  height: 20px;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

footer nav {
  float: right;
  list-style-type: none;
}

footer nav li {
  display: inline;
}

input, select, fieldset, .closeDialog {
  clear: both;
}

form {
  position:relative;
}

form {
  position:relative;
}

section, .no-js #main, .no-js #header-buttons {
  display: none;
}

section:target, section.target, .separator > section {
  display: block;
}

nav li {
  display: inline-block;
}

nav h2, nav menu {
  display: block;
}

#title {
  float: left;
}

#main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 100%;
  overflow: auto;
}

#login, #dialog-content > form {
  width: 250px;
}

#dialog-content > div {
  min-width: 320px;
  display: inline-block;
  text-align: left;
}

#details form {
  min-width: 320px;
}

#header-buttons, #details > * > .close {
  float: right;
}

#dialog {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: table;
}

#dialog-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

#contextMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#contextMenu > menu {
  position: absolute;
  list-style-type: none;
}

#currentUser {
  font-weight: bold;
}

#toolList {
  /*top: 20px;
  bottom: 20px;
  width: 320px;
  overflow: hidden;*/
  display:inline-block;
  float: left;
  height: 100%;
}

#toolList > .dock {
  height: 100%;
  float: left;
  width: 50px;
}

#toolList > section {
  float: left;
  height: 100%;
  width: 270px;
  overflow: auto;
  /*text-align: left;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;*/
}

#details {
  display: inline-block;
  float: left;
  position: absolute;
  left: 320px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.dock {
  display: inline-block;
  position: relative;
}


.dock li {
  display: inline;
  list-style-type: none;
  position: relative;
  float: left;
  clear: both;
}

.dock li span {
  display: none;
  left: 50%;
  top: -50%;
  position: absolute;
  float: left;
  white-space: nowrap;
}

.dock li a {
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  height: 20px;
  width: 24px;
  float:left;
}

.dock li:hover a {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

.dock li a, .dock li:hover + li a, .dock li.prev a {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.list {
  clear: both;
}

.table .list {
  display: table;
}

.table .header {
  display: table-row;
  font-weight: bold;
}

.table .header li {
  display: table-cell;
}

.table .row {
  display: table-row;
}

.table .cell {
  display: table-cell;
}

.table .toggleExpand, .tree .toggleExpand {
  width: 12px;
  height: 16px;
  display: inline-block;
}

.table .icon, .compact .icon, .tree .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.collapsed .row, .compact .header, .compact .cell, .gallery .header, .gallery .cell, .tree .header, .tree .cell {
  display: none;
}

.compact .list {
  -moz-column-width: 150px;
  -webkit-column-width: 150px;
  -moz-column-gap: 5px;
  -webkit-column-gap: 5px;
}

.compact .list, .tree .list, .checklist {
  list-style-type: none;
}

.compact .row, .tree .row {
  display: list-item;
}

.compact .main, .gallery .main, .tree .main {
  display: block;
  overflow: hidden
}

.gallery .row {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
}

.gallery .main {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery .main > a {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.gallery .icon {
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}

.tree .row {
  float: left;
  clear: both;
}

.cell.numeric {
  text-align: right;
}

.cell .filtrable {
  float: right;
}

.buttonList {
  width: 100%;
  text-align: right;
  clear: both;
}

.filtrable form {
  position: absolute;
}

.input label {
  display: block;
}

.ui-resizable-handle {
  display: block;
  font-size: 0.1px;
  position: absolute;
}

.ui-resizable-e {
  cursor: e-resize;
  height: 100%;
  right: -5px;
  top: 0;
  width: 7px;
}

.ui-resizable-s {
  bottom: -5px;
  cursor: s-resize;
  height: 7px;
  left: 0;
  width: 100%;
}

.ui-resizable-se {
  bottom: 1px;
  cursor: se-resize;
  height: 12px;
  right: 1px;
  width: 12px;
}

.option .field {
  display: inline-block;
}

.picklist li {
  list-style-type: none;
  display: inline-block;
}

.tabs-container {
  height: 100%;
}

/* z position */
#dialog {
  z-index: 900;
}

#contextMenu {
  z-index: 800;
}
/*
.dock, .dock li span {
  z-index: 2;
}

.dock li {
  z-index: 1;
}
*/
.ui-resizable-handle {
  z-index: 99999;
}
