/* font */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* color */
header {
  border-bottom: #eee solid 1px;
}

footer {
  border-top: #eee solid 1px;
}

noscript, #error-msg {
  color: #800;
}

/* size and position */
html {
  overflow-y: auto;
}

body {
  height: 100%;
}

header, footer {
  height: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

noscript, header h1, footer span, #error-msg {
  margin: 0 5px 0 5px;
}

footer nav {
  float: right;
  list-style-type: none;
}

footer nav li {
  margin: 0 5px 0 5px;
  display: inline;
}

fieldset {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
}

#main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 100%;
}
