/* font */

body {
  font-size: 12px;
}

hr {
  clear: both;
}

a {
  text-decoration: none;
}

a:hover, .main > .icon:hover, input[type=file]:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image div {
  cursor: pointer;
}

h2, h3 > a {
  white-space: nowrap;
}

textarea {
  font-family: monospace, sans-serif;
}

#title {
  font-size: 15px;
  padding-top: 2px;
  text-shadow: 0px 0px 5px rgba(0,88,88,.7);
}

.selected, [selected=selected] {
  font-weight: bold;
}

nav h3 {
  font-size: 1.1em;
}

#login input[type=text], #login input[type=password] {
  font-size: 1.5em;
}

input[type=button] {
  align: left;
}

.resume .main a {
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-container .file .icon:before  {
  content: "?";
  text-align: center;
}

.resume .file .icon:before, .gallery .file .icon:before {
  font-size: 30px;
}

/* icon */
@font-face {
  font-family: "IconicStroke";
  src: url("../../external/style/iconic/iconic_stroke.eot");
  src: local("IconicStroke"),
    url("../../external/style/iconic/iconic_stroke.svg#iconic") format("svg"),
    url("../../external/style/iconic/iconic_stroke.otf") format("opentype");
}

.iconic,
#currentUser:before,
.setFilter,
.edit,
.delete,
.close,
.insert,
.add:before,
.refresh:before,
.import:before,
.sorted_asc a:after,
.sorted_desc a:after,
.toggleExpand:before,
.picklist .remove:before {
  font-family: "IconicStroke";
}

#currentUser:before {
  content: "u";
}

.setFilter:before {
  content: "f";
}

.edit:before {
  content: "p";
}

.edit {
 content: "";
}

.delete:before {
  content: "t";
}

.close:before, .picklist .remove:before {
  content: "x";
}

.add:before, .insert:before {
  content: "+";
}

.import:before {
  content: "3";
}

.refresh:before {
  content: "[";
}

.collapsed > .main > .toggleExpand:before,
.accordion-container > h3 > a:before {
  content: "+";
}

.expanded > .main > .toggleExpand:before,
.accordion-container > h3.selected > a:before {
  content: "-";
}

.dock a {
  background-position: center center;
  background-repeat: no-repeat;
}

#toolList-pages a {
  background-image: url(../image/page.svg);
}

#toolList-templates a {
  background-image: url(../image/template.svg);
}

#toolList-articles a {
  background-image: url(../image/article.svg);
}

#toolList-visitors a {
  background-image: url(../image/visitor.svg);
}

#details h2, .list-container .icon,
.pickitem {
  background-repeat: no-repeat;
}

#details h2, .list-container.table .main, .list-container.compact .main, .pickitem {
  background-position: left center;
}

.compact img,
.table img {
  width: 16px;
  height: 16px;
}

h2,
.pickitem {
  background-size: 16px;
}

.icon,
.image div,
.dock a {
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.image div {
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .icon, .updatedList > li {
  background-position: top center;

}

.resume .icon {
  background-position: top left;
}

#toolList-editors a,
.list-container .editor .icon,
.list-container .disabledEditor .icon,
#details .editor h2,
fieldset.editor .pickitem,
.image .editor {
  background-image: url(../image/editor.svg);
}

.list-container .groupEditor > .icon,
.list-container .disabledGroupEditor .icon,
#details .groupEditor h2,
fieldset.groupEditor .pickitem {
  background-image: url(../image/groupEditor.svg);
}

.list-container .disabledEditor .icon,
.list-container .disabledGroupEditor .icon,
.disabled > .main .icon {
  filter: url(../image/ressource.svg#disabled);
}

#toolList-files a,
.list-container .folder .icon, 
fieldset.folder .pickitem,
#details .folder h2 {
  background-image: url(../image/folder.svg);
}

.list-container .mountpoint .icon,
#details .mountpoint h2,
fieldset.mountpoint .pickitem {
  background-image: url(../image/mountpoint.svg), url(../image/folder.svg);
}

.list-container .file .icon,
#details .file h2,
.list-container .imagesvg .icon,
#details .imagesvg h2 {
  background-image: url(../image/file.svg);
}

.list-container .xml .icon, #details .xml h2 {
  background-image: url(../image/xml.svg);
}

.list-container .javascript .icon, #details .javascript h2 {
  background-image: url(../image/javascript.svg);
}

.list-container .php .icon, #details .php h2 {
  background-image: url(../image/php.svg);
}

.list-container .text .icon, #details .text h2 {
  background-image: url(../image/text.svg);
}

.list-container .html .icon, #details .html h2 {
  background-image: url(../image/html.svg);
}

.list-container .css .icon, #details .css h2 {
  background-image: url(../image/css.svg);
}

.list-container .sql .icon, #details .sql h2 {
  background-image: url(../image/sql.svg);
}

.list-container .music .icon, #details .music h2 {
  background-image: url(../image/audio.svg);
}

.empty {
  background: url(../image/roller.gif) no-repeat center center;
}

.sorted_asc a:after {
  content: "5";
  margin: 5px;
}

.sorted_desc a:after {
  content: "3";
  margin: 5px;
}

/* color */
html, fieldset, legend, .dock, .dock li span, .tabs, .accordion-container, .header > .cell,
.table .row:nth-child(odd), .resume .row:nth-child(odd) {
  background-color:#F5F5F5;
}

#dialog-content > * > h2, #details h2 {
  background-color: #aaa;
}

#main, #details > *, #dialog-content > *, .dock {
  background-color: #E9F1F4;
}

noscript, #error-msg, .alertMsg, .formMsg {
  color: #800;
}

.alertSuccess {
  color: #080;
}

input, select {
  color: #000;
  background-color: #fff;
}

dd {
  color: #000;
}

input[type=text]:hover,
input[type=password]:hover,
select:hover,
.row:hover > .cell,
.dock li:hover,
#contextMenu a:hover,
.checkbox:hover,
.checklist li:hover,
.radio:hover,
.radiolist li:hover,
.picklist > *:hover,
.image div:hover {
  background-color: #ff9;
}

textarea:hover {
  background: -moz-radial-gradient(circle, #fff, #ffc);
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#ff9));
  background: -webkit-radial-gradient(circle, #fff, #ff9);
}

input[type=submit], input[type=button], button {
  color: #fff;
  background-color: #607890;
}

.tabs > menu > li {
  background-color: #607890;
}

nav > menu > li:not(.selected) > a {
  color: #fff;
}

input[type=submit]:hover,
.fileUpload div:hover input[type=button],
button:hover,
.tabs > menu > li:hover {
  background-color: #036;
}

input[type=submit]:active, button:active, .tabs > menu > li:active {
  background-color: #036;
  text-shadow: 0px 0px 3px rgba(255,255,255,1);
}

input[type=submit]:disabled, input[type=button]:disabled, button:disabled,
input[type=submit]:disabled:hover, input[type=button]:disabled:hover, button:disabled:hover,
input[type=submit]:disabled:active, input[type=button]:disabled:active, button:disabled:active {
  background-color: #aaa;
  text-shadow: 0;
}

.tabs > menu > li.selected, #contextMenu menu, .list, .formlist, .image div, span.picklist {
  background-color: #fff;
}

#dialog {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

#dialog-content, .buttonList {
  background-color: transparent;
}

.list-container .row.selected, .picklist > *, .checkbox.selected, .checklist .selected, .radiolist .selected {
  background-color: #fc9;
} 

.invalid, .row:nth-child(2n+1).invalid {
  background-color: rgba(88,0,0,.05);
}

.disabled > .main > span {
  color: #ccc;
}

/* border */
header {
  border-bottom: #F5F5F5 solid 1px;
}

footer {
  border-top: #F5F5F5 solid 1px;
}

fieldset, legend, input[type=submit], input[type=button], button, #dialog-content > *, #details > * {
  border: 1px solid #aaa;
  border-radius: 4px;
}

.resume .row {
  border-bottom: 1px solid #aaa;
}

.picklist > * {
  border: 1px solid #fc9;
  border-radius: 4px;
}

input, select, textarea, .header > .cell, #contextMenu menu, .image div, span.picklist {
  border: 1px solid #aaa;
}

#toolList {
  border-right: 1px solid #aaa;
}

input[type=text], input[type=password], textarea, select, span.picklist {
  box-shadow: inset rgba(0,0,0,.2) 2px 2px 2px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
  border-color: #008;
  box-shadow: inset rgba(0,0,88,.5) 2px 2px 2px;
}

input[type=submit], input[type=button], button, .dock li span, #contextMenu menu {
  box-shadow: inset rgba(0,0,0,.2) -2px -2px 2px;
}

input[type=submit]:active, button:active {
  box-shadow: inset rgba(0,0,0,.2) 2px 2px 2px;
}

.gallery .row, .compact .row, .tree .row, .dock li, .checkbox, .checklist li, .radiolist li, .resume img, .gallery img, .image div {
  border-radius: 4px;
}

.changed:invalid, .field.invalid input, .field.invalid textarea, .field.invalid span.picklist {
  border-color: #800;
  box-shadow: inset rgba(88,0,0,.2) 2px 2px 2px;
}

.field:not(.invalid) .changed:valid {
  border-color: #080;
  box-shadow: inset rgba(0,88,0,.2) 2px 2px 2px;
}

.tabs > menu > li {
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#main {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

dd {
  border:1px solid #ccc;
}

#dialog-content > * > h2 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tree .row {
  border: 1px dashed transparent;
}

.tree .expanded {
  border-color: #aaa;
}

.table .list {
  border-collapse: collapse;
}

/* padding and margin */
noscript,
button,
fieldset,
legend,
select,
h2,
h3,
input[type=text],
input[type=password],
span.picklist,
textarea,
input[type=submit],
input[type=button],
menu > li,
#error-msg,
.cell,
.checklist li,
.checklist li > *,
.radiolist li,
.radiolist li > *,
.picklist > *,
.picklist > * > *,
.checkbox,
.breadcrumb,
label,
dt,
dd
 {
  padding: 2px;
}

noscript,
fieldset,
legend,
input[type=submit],
menu > li,
#error-msg,
#details > *,
.field,
.info,
.cell,
.checklist li,
.radiolist li,
.picklist > *,
.checkbox,
.breadcrumb {
  margin: 2px;
}



#login, #dialog-content > * {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.dock li a {
  margin: 5px
}

.dock li:hover a {
  margin: 10px;
}

.row > .row {
  margin-left: 20px;
}

.checkbox {
  margin-left: 2em;
  float: left;
  clear: both;
}

.editor > h2,
.groupEditor > h2,
.folder h2,
.mountpoint h2,
.javascript h2,
.imagesvg h2,
.css h2,
.jpg h2,
.html h2,
.png h2,
.xml h2,
.text h2,
.file h2,
.gif h2,
.sql h2,
.music h2 {
  padding-left: 20px;
  margin-right: 20px;
}

.editor .pickitem, .groupEditor .pickitem, .folder .pickitem {
  padding-left: 20px;
}

hr, .picklist, .uploadedList {
  margin: 0;
}

/* size and position */
html {
  overflow-y: visible;
}

body {
  height: 100%;
}

header, footer {
  height: 20px;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer span {
  margin: 2px;
}

footer nav {
  float: right;
  list-style-type: none;
  margin: 2px;
}

footer nav li {
  display: inline;
}

textarea, fieldset, .closeDialog {
  clear: both;
}

form {
  position:relative;
}

dt:after {
  content: ":";
}

dt, dd {
  display: inline-block;
  min-height: 15px;
}

section, .no-js #main, .no-js #header-buttons {
  display: none;
}

section:target, section.target, .separator > section {
  display: block;
}

.separator hr, .accordion-container hr {
  margin: 10px;
}

nav li {
  display: inline-block;
}

nav h2, nav menu {
  display: block;
}

#title {
  float: left;
}

#main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 100%;
  overflow: auto;
}

#login, #dialog-content > form {
  width: 270px;
}

#dialog-content > div {
  min-width: 320px;
  display: inline-block;
  text-align: left;
}

#details form {
  min-width: 320px;
}

#header-buttons, #details > * > .close {
  float: right;
}

#dialog {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: table;
}

#dialog-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

#contextMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#contextMenu menu {
  position: absolute;
  list-style-type: none;
}

#currentUser {
  font-weight: bold;
}

#toolList {
  display:inline-block;
  float: left;
  height: 100%;
}

#toolList > .dock {
  height: 100%;
  float: left;
  width: 50px;
}

#toolList > section {
  float: left;
  height: 100%;
  width: 270px;
  overflow: auto;
}

#details {
  display: inline-block;
  float: left;
  position: absolute;
  left: 320px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.dock {
  display: inline-block;
  position: relative;
}


.dock li {
  display: inline;
  list-style-type: none;
  position: relative;
  float: left;
  clear: both;
}

.dock li span {
  display: none;
  left: 50%;
  top: -50%;
  position: absolute;
  float: left;
  white-space: nowrap;
}

.dock li a {
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  height: 24px;
  width: 24px;
  float:left;
}

.dock li:hover a {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

.dock li a, .dock li:hover + li a, .dock li.prev a {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.list {
  clear: both;
}

.table .list {
  display: table;
}

.table .header {
  display: table-row;
  font-weight: bold;
}

.table .header li {
  display: table-cell;
}

.table .row {
  display: table-row;
}

.table .cell {
  display: table-cell;
}

.table .toggleExpand, .tree .toggleExpand,
.accordion-container > h3 > a:before {
  width: 12px;
  height: 16px;
  display: inline-block;
}

.table .icon, .compact .icon, .tree .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.collapsed .row,
.compact .header,
.compact .cell,
.gallery .header,
.gallery .cell,
.tree .header,
.tree .cell,
.resume .header,
.resume .selectRow {
  display: none;
}

.compact .list {
  -moz-column-width: 150px;
  -webkit-column-width: 150px;
  column-width: 150px;
  -moz-column-gap: 5px;
  -webkit-column-gap: 5px;
  column-gap: 5px;
}

.compact .row {
  height: 25px;
  overflow: hidden;
}

.compact .list, .tree .list, .checklist, .radiolist {
  list-style-type: none;
}

.checklist, .radiolist {
  display: inline-block;
}

.compact .row, .tree .row {
  display: list-item;
}

.compact .main, .gallery .main, .tree .main {
  display: block;
  overflow: hidden
}

.gallery .row {
  display: inline-block;
  width: 100px;
  height: 107px;
}

.gallery .main {
  height: 100%;
  position: relative;
}

.gallery .main > a {
  position: absolute;
  bottom: 10px;
  top: 66px;
  text-overflow: ellipsis-word;
  text-align: center;
  width: 100%;
}

.gallery .icon {
  display: block;
  height: 64px;
  text-align: center;
  width: 64px;
  margin: 0 14px;
}

.resume .icon {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 5px;
}

.resume .row {
  display: block;
  clear: both;
}

.resume .action {
  display: inline-block;
}


.tree .row {
  float: left;
  clear: both;
}

.cell.numeric {
  text-align: right;
}

.cell .filtrable {
  float: right;
}

.buttonList {
  text-align: right;
  clear: both;
}

.filtrable form {
  position: absolute;
}

.input label {
  display: block;
}

.ui-resizable-handle {
  display: block;
  font-size: 0.1px;
  position: absolute;
}

.ui-resizable-e {
  cursor: e-resize;
  height: 100%;
  right: -5px;
  top: 0;
  width: 7px;
}

.ui-resizable-s {
  bottom: -5px;
  cursor: s-resize;
  height: 7px;
  left: 0;
  width: 100%;
}

.ui-resizable-se {
  bottom: 1px;
  cursor: se-resize;
  height: 12px;
  right: 1px;
  width: 12px;
}

.option .field {
  display: inline-block;
}

.picklist > * {
  list-style-type: none;
  display: inline-block;
}

.fileUpload {
  position: relative;
}

.fileUpload [type=file] {
  opacity: 0;
  position: absolute;
  left: 0;
}

.fileUpload [type=button] {
  width: 237px;
  height: 23px;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:after {
  content: " / ";
}

.image div {
  width: 68px;
  height: 68px;
}

#contextMenu span:after {
  content: " >";
}

#contextMenu menu menu {
  left: 30px;
}

[data-select] {
  display: none;
}

li:hover [data-select] {
  display: block;
}

.formlist ul, .formlist button {
  display: inline-block;
}

/* z position */
#dialog {
  z-index: 900;
}

#contextMenu {
  z-index: 800;
}

.fileUpload [type=file] {
    z-index: 2;
}

.ui-resizable-handle {
  z-index: 99999;
}
