/* font */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* color */
noscript, #error-msg {
  color: #800;
}

input {
  color: #000;
}

input[type="text"]:hover, input[type="password"]:hover {
  background-color: #ffc;
}

input:invalid, textarea:invalid {
    box-shadow: 0 0 2px red;
}

input[type=submit], button {
  color: #fff;
  background-color: #607890;
}

input[type=submit]:active {
  margin-top:2px;
}

input[type=submit]:hover, button:hover {
  background-color: #036;
}

/* border */
header {
  border-bottom: #eee solid 1px;
}

footer {
  border-top: #eee solid 1px;
}

fieldset, legend, input {
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* size and position */
html {
  overflow-y: auto;
}

body {
  height: 100%;
}

header, footer {
  height: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

noscript, header h1, footer span, #error-msg {
  margin: 0 5px 0 5px;
}

footer nav {
  float: right;
  list-style-type: none;
}

footer nav li {
  margin: 0 5px 0 5px;
  display: inline;
}

fieldset {
  padding: 10px;
  float: left;
}

legend {
  padding: 2px 5px;
}

input {
  padding: 5px;
}

#main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 100%;
  display: none;
}

#login {
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  width: 200px;
}
