/* font */
@font-face {
  font-family: "Abstract";
  src: url(../../external/font/fontsforflash.abstract.ttf);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#title {
  font-family: "Abstract";
  font-size: 8px;
  padding-top: 7px;
  text-shadow: 0px 0px 5px rgba(0,88,88,.7);
}

/* icon */
@font-face {
  font-family: "IconicStroke";
  src: local("IconicStroke"),
       url("../../external/style/iconic/iconic_stroke.svg#iconic") format("svg"),
       url("../../external/style/iconic/iconic_stroke.otf") format("opentype");
}

.iconic, .currentUser:before {
  font-family: "IconicStroke";
  font-size: 1.2em;
}

.currentUser:before {
  content: "u";
}

/* color */
html, legend {
  background:#eee;
}

noscript, #error-msg, .alertMsg, .formMsg {
  color: #800;
}

input, select {
  color: #000;
  background-color: #fff;
}

input[type=text]:hover, input[type=password]:hover, select:hover {
  background-color: #ffc;
}

input[type=submit], button {
  color: #fff;
  background-color: #607890;
}

input[type=submit]:active {
  margin-top:11px;
}

input[type=submit]:hover, button:hover {
  background-color: #036;
  text-shadow: 0px 0px 5px rgba(255,255,255,0.6);
}

#main {
  background:#fff;
}

#dialog {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

#dialog > * {
    background-color: #fff;
}

/* border */
header {
  border-bottom: #eee solid 1px;
}

footer {
  border-top: #eee solid 1px;
}

fieldset, legend, input, select, button, #dialog > * {
  border: 1px solid #aaa;
  border-radius: 4px;
}

input[type=text], input[type=password], select {
  box-shadow: inset rgba(0,0,0,.2) 0px 0px 5px;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  border-color: #008;
  border-radius: 4px;
  box-shadow: inset rgba(0,0,88,.5) 0px 0px 5px;
}

input:invalid, textarea:invalid {
  border-color: #800;
  border-radius: 4px;
  box-shadow: inset rgba(88,0,0,.5) 0px 0px 5px;
}

input[type=text]:valid, [type=password]:valid, textarea:valid {
  border-color: #080;
  border-radius: 4px;
  box-shadow: inset rgba(0,88,0,.5) 0px 0px 5px;
}

input[type=submit], button {
  box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

input[type=submit]:active, button:active {
  box-shadow:rgba(0,0,0,.2) 0px 0px 3px;
}

#main {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

/* size and position */
html {
  overflow-y: auto;
}

body {
  height: 100%;
}

header, footer {
  height: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

noscript, header h1, footer span, #error-msg {
  margin: 0 5px 0 5px;
}

footer nav {
  float: right;
  list-style-type: none;
}

footer nav li {
  margin: 0 5px 0 5px;
  display: inline;
}

fieldset {
  padding: 10px;
  margin: 5px;
  clear: both;
}

input, select {
  clear: both;
  padding: 5px;
}

legend {
  padding: 2px 5px;
}

form {
  margin:20px 14px 0 14px;
  padding:0 0 20px 0;
  position:relative;
}

input[type=submit] {
  margin: 10px;
}

#title {
  float: left;
}

#main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 100%;
  display: none;
}

#login {
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  width: 200px;
}

#header-buttons {
  float: right;
  display: none;
}

.currentUser {
  font-weight: bold;
  margin: 0 5px;
}

.field {
  padding: 5px;
}

#dialog {
  display:none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

/*#dialog > * {
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
}

#dialog > form {
  width: 250px;
  overflow: auto;
}

#dialog fieldset {

}*/
